<!DOCTYPE html>
<html>
<head>
   <meta charset="utf-8" />
   <title>@ViewBag.Title</title>
   <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
   <script src="@Url.Content("~/Scripts/jquery-1.6.2.min.js")" type="text/javascript"></script>
   <script src="@Url.Content("~/Scripts/modernizr-2.0.6-development-only.js")" type="text/javascript"></script>
   <script src="@Url.Content("~/Scripts/jquery.cookie.js")" type="text/javascript"></script>
   <script src="@Url.Content("~/Scripts/globalize.js")" type="text/javascript"></script>
   <script src="@Url.Content("~/Scripts/cultures/globalize.culture." + SampleWebsite.Mvc3.Helpers.CultureHelper.GetCurrentCulture() + ".js")" type="text/javascript"></script>
   <script type="text/javascript">    
            $(function () {
                 Globalize.culture("@SampleWebsite.Mvc3.Helpers.CultureHelper.GetCurrentCulture()"); @* Set appropriate culture *@

                $(".lang-picker").bind("mouseenter mouseleave", function(){
                  $(this).toggleClass('hover');
                  var size = $('a', this).size(); // number of links
                  var height = $('a', this).height(); // link height
                  var start = $(this).hasClass('hover') ? size : 1;
                  $(this).stop(true, false).animate({ height: (height+2) * start }, 150);
                });

                $(".lang-picker a." + Globalize.culture().name.toLowerCase()).prependTo($(".lang-picker")); @* Select current culture*@

                @* culture change *@
                $(".lang-picker a").click(function(){
                  if ($(this).hasClass(Globalize.culture().name.toLowerCase()))
                     return false; // do nothing

                  $.cookie("_culture", $(this).attr("class") , {expires : 365, path: '/'});
                  window.location.reload(); // reload 
                });
            });
    </script>
</head>
<body>
   <div class="page">
      <header>
         <div id="title">
            <h1>
               My MVC Application</h1>
         </div>
         <div id="logindisplay">
            @Html.Partial("_LogOnPartial")
         </div>
         <div class="lang-picker-wrapper">
            <span class="lang-picker">
            <a class="en-us" href="javascript:void(0);">English</a> 
            <a class="@(SampleWebsite.Mvc3.Helpers.CultureHelper.GetNeutralCulture(Request.UserLanguages[0].ToLower()) == "fr" ? Request.UserLanguages[0].ToLower() : "fr")" 
               href="javascript:void(0);">Français</a> 
            </span>
         </div>
         <nav>
            <ul id="menu">
               <li>@Html.ActionLink("Home", "Index", "Home", new { area = "" }, null)</li>
               <li>@Html.ActionLink("About", "About", "Home", new { area = "" }, null)</li>
               <li>@Html.ActionLink("User Administration", "Index", "UserAdministration", new { area = "MvcMembership" }, null)</li>
            </ul>
         </nav>
      </header>
      <section id="main">
         @RenderBody()
      </section>
      <footer>
      </footer>
   </div>
</body>
</html>
