@using System.Globalization
@model SampleWebsite.Mvc3.Areas.MvcMembership.Models.UserAdministration.DetailsViewModel
@{
	ViewBag.Title = @Resources.UserDetailsLabel + Model.DisplayName;
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href='@Url.Content("~/Content/MvcMembership.css")' rel="stylesheet" type="text/css" />

<h2 class="mvcMembership">@Resources.UserDetailsLabel@Model.DisplayName [@Model.StatusLabel]</h2>

<ul class="mvcMembership-tabs">
	<li>@Html.ActionLink(Resources.Details, "Details", "UserAdministration", new {id = Model.User.ProviderUserKey }, null)</li>
	<li>@Resources.Password</li>
	@if(Model.IsRolesEnabled){
	<li>@Html.ActionLink(Resources.Roles, "UsersRoles", "UserAdministration", new{id = Model.User.ProviderUserKey}, null)</li>
	}
</ul>

<h3 class="mvcMembership">@Resources.Password</h3>
<div class="mvcMembership-password">
	@if(Model.User.IsLockedOut){
		<p>@Resources.LockedOutSince @Model.User.LastLockoutDate.ToString("MMMM dd, yyyy h:mm:ss tt", CultureInfo.InvariantCulture)</p>
		using(Html.BeginForm("Unlock", "UserAdministration", new{ id = Model.User.ProviderUserKey })){
		<input type="submit" value="@Resources.UnlockAccount" />
		}
	}else{

		if(Model.User.LastPasswordChangedDate == Model.User.CreationDate){
		<dl class="mvcMembership">
			<dt>@Resources.LastChangedLabel</dt>
			<dd><em>@Resources.Never</em></dd>
		</dl>
		}else{
		<dl class="mvcMembership">
			<dt>@Resources.LastChangedLabel</dt>
			<dd>@Model.User.LastPasswordChangedDate.ToString("MMMM dd, yyyy h:mm:ss tt", CultureInfo.InvariantCulture)</dd>
		</dl>
		}

		if(Model.CanResetPassword && Model.RequirePasswordQuestionAnswerToResetPassword){
			using(Html.BeginForm("ResetPasswordWithAnswer", "UserAdministration", new{ id = Model.User.ProviderUserKey })){
			<fieldset>
				<p>
					<dl class="mvcMembership">
						<dt>@Resources.PasswordQuestionLabel</dt>
						if(string.IsNullOrEmpty(Model.User.PasswordQuestion) || string.IsNullOrEmpty(Model.User.PasswordQuestion.Trim())){
						<dd><em>@Resources.NoPasswordQuestionDefined</em></dd>
						}else{
						<dd>@Model.User.PasswordQuestion</dd>
						}
					</dl>
				</p>
				<p>
					<label for="answer">@Resources.PasswordAnswerLabel</label>
					@Html.TextBox("answer")
				</p>
				<input type="submit" value="@Resources.ResetToRandomPasswordAndEmailUser" />
			</fieldset>
			}
		}else if(Model.CanResetPassword){
			using(Html.BeginForm("SetPassword", "UserAdministration", new{ id = Model.User.ProviderUserKey })){
			<fieldset>
				<p>
					<label for="password">@Resources.NewPasswordLabel</label>
					@Html.TextBox("password")
				</p>
				<input type="submit" value="@Resources.ChangePassword" />
			</fieldset>
			}
			using(Html.BeginForm("ResetPassword", "UserAdministration", new{ id = Model.User.ProviderUserKey })){
			<fieldset>
				<input type="submit" value="@Resources.ResetToRandomPasswordAndEmailUser" />
			</fieldset>
			}
		}

	}
</div>