@model SampleWebsite.Mvc3.Areas.MvcMembership.Models.UserAdministration.RoleViewModel
@{
	ViewBag.Title = @Resources.RoleLabel + Model.Role;
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href='@Url.Content("~/Content/MvcMembership.css")' rel="stylesheet" type="text/css" />

<h2 class="mvcMembership">@Resources.RoleLabel@Model.Role</h2>
<div class="mvcMembership-roleUsers">
	@if(Model.Users.Count() > 0){
		<ul class="mvcMembership">
			@foreach(var user in Model.Users){
			<li>
				@Html.ActionLink(user.UserName, "Details", new{id=user.ProviderUserKey})
				@using(Html.BeginForm("RemoveFromRole", "UserAdministration", new{id = user.ProviderUserKey, role = Model.Role})){
					<input type="submit" value="@Resources.RemoveFrom" />
				}
			</li>
			}
		</ul>
	}else{
	<p>@Resources.NoUsersAreInThisRole</p>
	}
</div>