@using System.Globalization
@model SampleWebsite.Mvc3.Areas.MvcMembership.Models.UserAdministration.DetailsViewModel
@{
	ViewBag.Title = @Resources.UserDetailsLabel + Model.DisplayName;
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href='@Url.Content("~/Content/MvcMembership.css")' rel="stylesheet" type="text/css" />

<h2 class="mvcMembership">@Resources.UserDetailsLabel@Model.DisplayName [@Model.StatusLabel]</h2>

<ul class="mvcMembership-tabs">
	<li>@Html.ActionLink(@Resources.Details, "Details", "UserAdministration", new { id = Model.User.ProviderUserKey }, null)</li>
	<li>@Html.ActionLink(@Resources.Password, "Password", "UserAdministration", new { id = Model.User.ProviderUserKey }, null)</li>
	<li>Roles</li>
</ul>

<h3 class="mvcMembership">@Resources.Roles</h3>
<div class="mvcMembership-userRoles">
	<ul class="mvcMembership">
		@foreach(var role in Model.Roles){
		<li>
			@Html.ActionLink(role.Key, "Role", new{id = role.Key})
			@if(role.Value){
				using(Html.BeginForm("RemoveFromRole", "UserAdministration", new{id = Model.User.ProviderUserKey, role = role.Key})){
				<input type="submit" value="@Resources.RemoveFrom" />
				}
			}else{
				using(Html.BeginForm("AddToRole", "UserAdministration", new{id = Model.User.ProviderUserKey, role = role.Key})){
				<input type="submit" value="@Resources.AddTo" />
				}
			}
		</li>
		}
	</ul>
</div>